!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ http_equiv: 'X-UA-Compatible', content: 'IE=edge' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %meta{name: 'description', content: ''}
    %meta{name: 'author', content: 'Designed by Valerie Merchant. Developed by Justin Cook.'}
    %title= current_page.data.title || ''

    :plain
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

    = stylesheet_link_tag 'style'

  %body
    = partial 'layouts/partials/navbar'
    = yield

    %footer.container
      %p Footer stuff

    / JavaScript
    / ==================================================
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'
    = javascript_include_tag 'application'

    / Google Analytics
    / ==================================================
    = google_analytics_tag
