<div class="nav-wrapper">
  <nav>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a href="/" class="navbar-brand">
          <%= image_tag "logo.png", alt: "What's Cooking with Us" %>
        </a>

      </div><!--/.navbar-header -->
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Us", "/" %></li>
          <li><%= link_to "Ceremony", "/ceremony.html" %></li>
          <li><%= link_to "Reception", "reception.html" %></li>
          <li><%= link_to "Accommodations", "accommodations.html" %></li>
          <li><%= link_to "RSVP", "rsvp.html" %></li>
          <li><%= link_to "Registry", "registry.html" %></li>
          <li><%= link_to "+More", "more.html" %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </nav>
</div><!--/.nav-wrapper -->
